<ion-header>
  <ion-toolbar>
    <ion-title>Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider>
      <ion-label> Les pays d'origine à bannir </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-input label="Ajouter un pays"
                 maxlength="255"
                 [(ngModel)]="country"
                 placeholder="Entrer un pays en minuscule"
      ></ion-input>
      <ion-button slot="end"
                  (click)="db?.saveCountry(newBarcodeCountry(country)); this.db.getAllCountries()"
                  fill="clear"
                  color="primary"
      >
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngFor="let country of db.countryList.getValue()">
      <ion-label>{{country.country}}</ion-label>
      <ion-button slot="end"
                  (click)="db?.deleteCountry(''+country.id)"
                  fill="clear"
                  color="danger"
      >
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label> Les code barre initiaux à bannir </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-input label="Ajouter un début de codebarre"
                 maxlength="3"
                 minlength="3"
                 [(ngModel)]="debut"
                 placeholder="Entrer 3 chiffres"
      ></ion-input>
      <ion-button slot="end"
                  (click)="db?.saveStarter(newBarcodeStarter(debut))"
                  fill="clear"
                  color="primary"
      >
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngFor="let starter of db.starterList.getValue()">
      <ion-label>{{starter.starter}}</ion-label>
      <ion-button slot="end"
                  (click)="db?.deleteStarter(''+starter.id)"
                  fill="clear"
                  color="danger"
      >
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label> Les marques à bannir </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-input label="Ajouter une marque"
                 maxlength="255"
                 [(ngModel)]="marque"
                 placeholder="Entrer une marque à ajouter"
      ></ion-input>
      <ion-button slot="end"
                  (click)="db?.saveBrand(newBarcodeBrand(marque));"
                  fill="clear"
                  color="primary"
      >
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngFor="let brand of db.brandList.getValue()">
      <ion-label>{{brand.brand}}</ion-label>
      <ion-button slot="end"
                  (click)="db?.deleteBrand(''+brand.id)"
                  fill="clear"
                  color="danger"
      >
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-item-group>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="goToHome()">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
